<!doctype html>
<html>
<head>
  <title>Tripplanner</title>
  <link rel='stylesheet' href='css/bootstrap.min.css' />
  <link rel='stylesheet' href='stylesheets/style.css' />
  <!--Stylesheets go here!-->
</head>
<body>
	<nav id="top-nav"></nav>
		{% block content %}
		{% endblock %}
	<!--Scripts go here!-->
	<script src='jquery.min.js'></script>
	<script src='js/bootstrap.min.js'></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvi3Fj3l2BSqqf6zam8sM0CnzsjmztJME"></script>
	<script src="scripts/googlemaps.js" ></script>
</body>
</html>